<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MapCache: No GPS, No Problem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

<div class="text-center">
    <div class="container" style="width:213px; text-align: left">
            <h1>MapCache</h1>
            <div style="margin-top:14px; margin-bottom: 30px">
                <form id="locForm" method="post" action="/showDirections" style="margin-bottom: 10px">
                    <label for="dir1">Starting Address</label>
                    <input id="dir1" name="startLoc" class="dir">
                    <label for="dir2" style="margin-top: 30px">Ending Address</label>
                    <input id="dir2" name="endLoc" class="dir">
                </form>
                <div style="width: 213px; text-align:center;">
                <div class="icon-group" style="margin-bottom: 12px; width: 213px;">
                    <div class="optionsBtn"><img src="/img/car_icon.png" style="width: 53px; height: 26px"></div>
                    <div class="optionsBtn"><img src="/img/bicycle_icon.png"></div>
                    <div class="optionsBtn"><img src="/img/walking_icon.png"></div>
                </div>
                <div class="btn-group" style="margin:0">
                    <button class="btn" id="gobtn">Route</button>
                </div>
                </div>
            </div>
        </div>
</div>
<!-- Load scripts right before end of body -->    
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/dojo/1.7.5/dojo/dojo.js"></script>
<script type="text/javascript" src="js/navigate.js"></script>
</body>
</html>