<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MapCache: No GPS, No Problem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
    <div style="width: 100%; height:300px">
        <div id="depart-button">Depart</div>
        <div id="container"></div>
    </div>
    <!-- Scripts at end -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/list.js"></script>
</body>
</html>