<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MapCache: No GPS, No Problem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div class="text-center">
    <div class="container" style="width: 213px; text-align: left">
        <div id="map-canvas"></div>
    </div>
    <div class="container">
        <input type="hidden" id="origin" value="<%= start %>">
        <input type="hidden" id="destination" value="<%= end %>">
        <input type="hidden" id="mode" value="<%= mode %>">
    </div> 
</div>
<!-- Scripts at end -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.7.5/dojo/dojo.js"></script>
<script type="text/javascript" src="js/maps.js"></script>
</body>
</html>